<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="vite-ionic" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title><%= appName %></title>
  </head>
  <body>
    <div id="app">
      <h2><%= appTitle %></h2>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
